button {
    height: 80px;
    width: 80px;
    display: inline-block;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: #0000ff;
}

.green {
    background-color: limegreen;
}

.pink {
    background-color: deeppink;
}

.orange {
    background-color: orange;
}

.white {
    background-color: white;
}

.pixels {
    border: 1px solid black;
    height: 10px;
    width: 10px;
}

.columns {
    display: inline-block;
}

#sizeInput {
    height: 10px;
    width: 50px;
    margin: 1%;
}

#submitSize {
    height: 20px;
    width: 50px;
    margin: 1%;
}

#eraserSize {
    border: 1px deeppink solid;
    height: 20px;
    width: 100px;
}

#canvas {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

body {
    background-image: url("../pics/paint2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.colorSpan {
    /*margin-left: 30%;*/
text-align: center;
}

#title {
    font-family: PaintyPaint;
    font-size: 500%;
    float: right;
    color: #f5f2ef;
    margin-right: 5%;
    z-index: 10;
}

.userInput {
height: 20px;
    width:50px;
}