button {
    height: 80px;
    width: 80px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: #00BFFF;
}

.green {
    background-color: limegreen;
}

.pink {
    background-color: deeppink;
}

.orange {
    background-color: orange;
}

.white {
    background-color: white;
}

.pixels {
    border: 1px solid black;
    height: 10px;
    width: 10px;
}

.columns {
    display: inline-block;
}

#sizeInput {
    height: 10px;
    width: 50px;
    margin: 1%;
}

#submitSize {
    height: 20px;
    width: 50px;
    margin: 1%;
}

#eraserSize {
    border: 1px deeppink solid;
    height: 20px;
    width: 100px;
}